
<form class="add-product-form"  (ngSubmit) = "onSubmit()" enctype="multipart/form-data">
    <h2>Add Product</h2>
    <div class="input-container">
     
      <input class="input-field" [(ngModel)]="product.name"type="text" placeholder="Product name" name="name">
    </div>
  
    <div class="input-container">
      
      <input class="input-field" [(ngModel)]="product.price" type="text" placeholder="Product Price" name="price">
    </div>
  
    <div class="input-container">
     
      <input class="input-field" [(ngModel)]="product.productCode" type="text" placeholder="publisher" name="productCode">
    </div>

    <div class="input-container">
      
      <input class="input-field" [(ngModel)]="product.image" type="file" placeholder="image" name="file" (change)="onSelectFile($event)">
    </div>

    <div class="input-container">
       
        <textarea class="input-field" [(ngModel)]="product.beschreibung" type="text" placeholder="Description" name="beschreibung">
            </textarea>
      </div>
  
    <button type="submit" class="btn">Add Product</button>
  </form>
