
<form action="" class="add-product-form">
    <h2>Add Product</h2>
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="Product name" name="pname">
    </div>
  
    <div class="input-container">
      <i class="fa fa-euro icon"></i>
      <input class="input-field" type="text" placeholder="Product Price" name="pprice">
    </div>
  
    <div class="input-container">
      <i class="fas fa-hive icon"></i>
      <input class="input-field" type="text" placeholder="weight" name="weight">
    </div>

    <div class="input-container">
        <i class="fa fa-text-width icon"></i>
        <textarea class="input-field" type="text" placeholder="Description" name="pdesc">
            </textarea>
      </div>
  
    <button type="submit" class="btn">Add Product</button>
  </form>
