<form action="" class="register-form"  (ngSubmit)=" onSubmit()">
    <h2>Register Form</h2>
    <div class="input-container">
     
      <input class="input-field" type="text"  [(ngModel)]="user.username" placeholder="Username" name="username">
    </div>
  
    <div class="input-container">
   
      <input class="input-field" type="text" placeholder="Email"  [(ngModel)]="user.email" name="email">
    </div>
  
    <div class="input-container">
    
      <input class="input-field" type="password" placeholder="Password"  [(ngModel)]="user.password" name="password">
    </div>
  
    <button type="submit" class="btn">Register</button>
  </form>
