<div class="container">
    <h4 class="text-center py-4">{{ product.name }}</h4>
    <div class=" single py-4">
        <div class="product-image">
            <img  class="img" src="data:image/jpg;base64,{{product.image}}" /><br>
            
        </div>
        <div class="product  ">
            <h6>Artikel beschreibung :</h6>
            <p>{{product.beschreibung}}</p>
            <div class="py-1">
                <b>Price :{{ product.price }} &euro;</b><br><br>
                <h6><b>Color :</b></h6>
                <div class="color red"></div>
                <div class="color blue"></div>
                <div class="color black"></div>
                <div class="color gray"></div><br><br>
                <button class="btn btn-primary btn-sm"><a routerLink="/login">Add product</a></button>
                <button class="btn btn-success btn-sm ml-4">Add to Cart</button>
            </div>
        </div>
    </div>
</div>