img{
    height:400px;
    width:350px;
    transition: all 1s;
}
img:hover{
    transform:scaleX(1.1);
}
.color{
    height:25px;
    width:25px;
    float:left;
    margin-left: 5px;
    cursor: pointer;
}
.red{
    background-color: #e74c3c;
}
.blue{
    background-color: #3498db;
}
.black{
    background-color: black;
}
.gray{
    background-color: #bdc3c7;
}
a{
    text-decoration: none;
    color: #FFF;
}

.single{
    display: flex;
}
 .single .product-image{
    width:420px;
}

.single .product{
    width: 560px;
}